html, 
body{

    margin:0;
    height: 100%;
    width: 100%;
}

body{
    background-image: url("background.png");
    background-repeat: no-repeat;
}

h2{
    margin:0;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#buy{
    margin: 30px;
}

.brand, .hp, .color, .capacity{

    padding: 15px;
}

input {
    border: none;
    border-radius: 10px;
    padding: 10px;
}

input[type="submit"] {
    background-color: #a0ddf0;
    color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.2);
    padding: 20px;
}

input[type="submit"]:active {
    box-shadow: 0 5px #474444;
    transform: translateY(4px)
}